:root {
    --dark-text: var(--dark-purple);
    --light-text: var(--light-gold);
    --dark-red: 36, 12, 18;
    --red: 182, 61, 92;
    --green: 142, 146, 134;
    --dark-green: 102, 105, 107;
    --light-pink: 248, 236, 239;
    --gold: 249, 190, 122;
    --light-gold: 235, 220, 192;
    --dark-purple: 33, 21, 34;
    --purple: 77, 64, 78;
    --light-purple: 194, 187, 195;
    --bright-purple: 170, 160, 171;
}

body {
    background-color: rgb(var(--dark-red));
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 0;
    background-image: url(chris-lawton-zvKx6ixUhWQ-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    color: rgb(var(--dark-text));
}

header {
    background-color: rgba(var(--green), 0.9);
    height: 5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 0.5em solid var(--green);
    margin: 1em;
}

nav {
    border: 0.5em solid var(--light-green);
    padding: 0.3em;
}

main {
    display: flex;
}

#tableDiv {
    background-color: rgba(var(--light-gold), 0.9);
    flex: 3 0 80%;
}

#formDiv {
    background-color: rgba(var(--light-pink), 0.9);
    flex: 1 0 20%;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(var(--gold));
    background-color: rgba(var(--dark-purple), 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    line-height: 0.9rem;
}

footer>p>a {
    color: rgb(var(--gold));
}

table {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
    color: rgb(var(--dark-text));
    padding: 1rem;
}

td {
    padding: 1rem;
}

caption {
    caption-side: bottom;
    font-size: 0.7rem;
}

form {
    display: grid;
    padding: 1rem;
}

button {
    background-color: rgba(var(--bright-purple), 0.9);
    box-shadow: 0;
    border-radius: 2px;
    border: 0.1px solid rgb(var(--dark-text));
}

button:hover {
    background-color: rgba(var(--light-purple));
}