:root {
    --dark-text: var(--dark-purple);
    --light-text: var(--light-gold);
    --main-purple: 108, 80, 164;
    --light-purple: 223, 213, 245;
    --dark-purple: 32, 11, 75;
    --light-gold: 255, 250, 219;
    --gold: 240, 222, 104;
    --green: 190, 227, 98;
    --light-green: 220, 246, 155;
    --dark-green: 75, 104, 6;
    --pink: 221, 139, 192;
    --light-pink: 247, 212, 235;
    --dark-pink: 85, 5, 57;
}

body {
    background-color: rgb(var(--light-purple));
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 0;
}

header {
    background-color: rgb(var(--green));
    height: 5rem;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2rf 1fr;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 2rem;
}

table {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.bookRow {
    display: grid;
    grid-template-columns: 
    repeat(4, 1fr);
    border: 1px solid rgba(var(--dark-green), 0.175) !important;
    border-radius: 0.375rem !important;
    width: auto;
}

thead > tr {
    display: grid;
    grid-template-columns: 
    repeat(4, 1fr);}

th {
    color: rgb(var(--dark-text));
    padding: 1rem;
}

td {
    padding: 1rem;
}

caption {
    caption-side: bottom;
    font-size: 0.7rem;
}